body {
  font-size: 1em;
  color: white;
  background-color: #232323;
  font-weight: bold;
}

.judge {
  color: #4CAF50;
}

.msg {
  h1 {
    color: gold;
    margin-top: 0;
  }
}

md-sidenav {
  background-color: #232323;
}

md-content.md-default-theme {
  background-color: #232323;
}

md-toolbar.md-default-theme {
  background-color: #232323;
}

.game {
  overflow-y:auto;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.topBar {
  height: 55px;
  line-height: 55px;

  .gameCode {
    width: calc(100% - 24px);
    text-align:right;
  }
  div {
    float:left;

  }
}

.players {
  text-align:center;
  width: 250px;
  float:left;
  display:none;

  .buttons {
    margin-bottom: 10px;
    button {
      margin-top: 0;
      width:100%;
    }
  }

  .icon {
    float:left;
  }
  .nameScore {
    margin-left: 8px;
    vertical-align: text-bottom;
    display:inline-block;
    width: calc(100% - 40px);
    .username {
      text-align:left;
      width:75%;
      float:left;
      height:27px;
      line-height:27px;
    }
    .score {
      width:25%;
      float: right;
      text-align:right;
      height:27px;
      line-height:27px;
    }
  }
  .gameCode{

    border-style:dotted;
  }
}

.board {
  padding-bottom: 20px;
  padding-left: 0px;

}

.navButton {
  cursor: pointer;
}


.pahCard {
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.76), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.whiteCard {
  background-color: #FFF;
  color: #000;
  font-weight: bold;
  padding: 10px;
  font-size: 1em;
  height: 150px;
  width: 125px;
  display: inline-block;
  vertical-align:top;
  margin: 10px;
  overflow-wrap: break-word;
}


.sideBarContent {
  button {
    width: 100%;
  }
}

.blackCardZone {

  .blackCard {
    font-size: 3em;
    background-color: #000;
    color: #FFF;
    padding: 35px;
    overflow-wrap: break-word;
    min-height: 400px;
    .text {

    }
    .footer {
      margin-top: 60px;
      font-size: 0.5em;
    }
  }

  .publicWhiteCards {
    height:100px;
    margin-left: -5px;
    margin-top: 15px;
    .whiteCard {
      font-size: 0.75em;
      height: 100px;
      width: 75px;
      margin: 0 5px;
    }
  }
}

.actionSide {
  padding-top: 30px;
  padding-bottomw: 30px;
  text-align:center;

  .msg {

  }

  .gif {
    width: 370px;
    height: auto;
  }
  .whiteCardZone {

  }
  .buttonZone {
    padding-top: 20px;
    .md-button.md-default-theme.md-raised {

      height: 50px;
      min-width: 100px;
    }

    .winner {
      width: 80%;
      max-width: 250px;
    }

    .submit-button {
      width: 80%;
      max-width: 250px;
      margin-top: 20px;
      height: 50px;
      background-color: #008000 !important;
      border-radius: 1%;
      color: white !important;
    }
  }

  .cardHighlighted {
    border: 5px solid #008000;
  }

}



.disabled {
  cursor: default;
  opacity:0.3;
  -o-transition-property: none !important;
 -moz-transition-property: none !important;
 -ms-transition-property: none !important;
 -webkit-transition-property: none !important;
 transition-property: none !important;
 -o-transform: none !important;
 -moz-transform: none !important;
 -ms-transform: none !important;
 -webkit-transform: none !important;
 transform: none !important;
 -webkit-animation: none !important;
 -moz-animation: none !important;
 -o-animation: none !important;
 -ms-animation: none !important;
 animation: none !important;
}

.order-badge {
  margin-top: -25px;
  margin-left: -25px;
  background-color: #008000;
  color: white;
  border-radius: 100%;
  font-size: 15px;
  height: 25px;
  width: 25px;
  line-height: 25px;
}

.card-icon {
  height: 20px;
  width: 15px;
  border: 1px solid black;
  border-radius: 1%;
  background-color: white;
  font-size: 3px;
  color: black;
  float: right;
}

.spinner {
  height: 20px;
  width: 40px;
  float: right;
  margin-right: 10px;

}

.spinner-flat {
  height: 20px;
  width: 30px;
  float: left;
  margin-right: 10px;

}



.inactive {
  color:red;
}

.message-name {
  color: white;
}



////////////////////////////////
// Media queries
///////////////////////////////

// Media Query Ranges
$small-screen: 700px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen})";
$large-and-up: "only screen and (min-width : #{$medium-screen})";

$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";

$medium-only: "only screen and (min-width : #{$small-screen}) and (max-width : #{$medium-screen})";



@media only screen and (min-width: 900px) {
  .navButton {
    display: none;
  }
  .players {

    display:inline-block;
  }
  .board {
    width: calc(100% - 250px);
    display:inline-block;
    padding-left: 35px;
  }

  .topBar {
    display:none;
  }

  .game {
    padding: 35px;
  }


}


@media only screen and (max-width: 400px) {

  .actionSide {
    .buttonZone {
      .winner {
        width: 80%;
        max-width: 100px;
      }
    }
  }

  .actionSide {
    .gif{
      width: 345px;
      height: auto;
    }
  }

  .blackCardZone {

    .blackCard {
      min-height: 200px;
      font-size: 1.5em;
    }
  }

}
