.board {
  font-size: 1em;
  color: #232323;


  .players {
    div {
      width:250px;
    }

  }

  .cardZone {
    padding: 50px;

    .card {
      font-size: 3em;
      border-radius: 10px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.76), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      
      /*min-height: 500px;*/

      .text {
        height: 90%;
      }
      .footer {
        height: 10%;
        font-size: 0.5em;
      }
    }
    .blackCard {
      background-color: #232323;
      color: white;
      padding: 35px;
    }
    .whiteCard {
      font-size: 1em;
      height: 150px;
      text-align: left;
      width: 100px;
      font-weight: bold;
      padding-left: 10px;
      
    }
    .whiteCardZone{
      margin-top: 30px;
    }
  }
}
