<!--<md-card style="width:500px; color: white">-->
<!-- <p>Private: {{privatePlayArea.hand}}</p>
<p>Public: {{publicPlayArea}}</p>
<p>Scoreboard: {{scoreboard}}</p>
<p>Me: {{currentPlayer.info}}</p> -->
<!--</md-card>-->
<md-sidenav class="md-sidenav-left sideBar" md-component-id="left" style="padding: 0 10px;">
    <md-toolbar>
      <toolbar-tools></toolbar-tools>
    </md-toolbar>
    <div class="players">
      <scoreboard></scoreboard>
    </div>

</md-sidenav>
<div class="game" ng-init="findPlayer(currentPlayer)">
    <top-bar></top-bar>
    <div class="players hideWhenSideBar">
      <scoreboard></scoreboard>
    </div>
    <div class="board">
        <div class="blackCardZone">
          <black-card></black-card>
          <public-white-cards></public-white-cards>
        </div>
        <div class="actionSide">
            <messages></messages>
            <top-buttons></top-buttons>
            <gif></gif>
            <private-white-cards></private-white-cards>
            <bottom-buttons></bottom-buttons>
        </div>
    </div>
</div>
<script type="text/ng-template" id="getLinkDialog">
<div class="getLink">
    <h1>Copy the link</h1>
    <md-input-container>
    <code>{{url}}</code>
    </md-input-container>
    <h1>or text the link</h1>
    <md-input-container>
    <input ng-model="phoneNumber" placeholder="Phone Number" />
    </md-input-container>
    <div style="text-align: center">
      <button class="btn btn-material-green" ng-click="sendText()">Send Text</button>
    </div>
</div>
</script>
<script type="text/ng-template" id="joinGameDialog">
<div class="joinDialog">
    <h1>Enter game</h1>
    <form name="submitName" ng-submit="join(playerName)">
    <md-input-container>
      <label>Name</label>
      <input ng-model="playerName" md-maxlength="25" autofocus>
    </md-input-container>
    <div style="text-align: center">
      <button class="btn btn-material-green" ng-click="join(playerName)">Enter</button>
    </div>
    </form>
</div>
</script>
