body {
  font-size: 1em;
  color: white;
  background-color: #232323;
  font-weight: bold;
}

.judge {
  color: gold;
}

.msg {
  h1 {
    color: gold;
    margin-top: 0;
  }
}

md-sidenav {
  background-color: #232323;
}

md-content.md-default-theme {
  background-color: #232323;
}

md-toolbar.md-default-theme {
  background-color: #232323;
}

.navButton {
  cursor: pointer;
}


.card {
  font-size: 3em;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.76), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}




.whiteCard {
  background-color: #FFF;
  color: #000;
  font-weight: bold;
  padding: 10px;
  font-size: 1em;
  height: 150px;
  width: 125px;
  float: left;
  margin: 10px;
  overflow-wrap: break-word;
}





.sideBarContent {
  .button {
    width: 100%;
  }
}

.leftSide {

  .blackCard {
    background-color: #000;
    color: #FFF;
    padding: 35px;
    min-height: 500px;
    overflow:auto;
    .text {
      overflow:auto;
    }
    .footer {
      margin-top: 60px;
      font-size: 0.5em;
    }
  }

  .publicWhiteCards {

    .whiteCard {
      width: 100px;
    }
  }
}

.rightSide {

  .buttonZone {

    margin: 50px 0;
    .md-button.md-default-theme.md-raised {
      font-weight:bold;
      margin: 0 10px;
      height: 50px;
      min-width: 100px;
    }
  }
  .whiteCardZone {
    text-align:center;
  }

  .cardHighlighted {
    border: 5px solid #008000;
  }

  .submittedCards {
    font-size: 1em;
    height: 150px;
    width: 125px;
    float: left;
    margin: 10px;
    overflow-wrap: break-word;

  }
}





////////////////////////////////
// Media queries
///////////////////////////////

// Media Query Ranges
$small-screen: 700px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen})";
$large-and-up: "only screen and (min-width : #{$medium-screen})";

$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";

$medium-only: "only screen and (min-width : #{$small-screen}) and (max-width : #{$medium-screen})";

@media only screen and (max-width: 960px) {
  .leftSide {

    .publicWhiteCards {
      .whiteCard {
        height: 100px;
        width: 93px;
      }
    }

    .blackCard {
      background-color: #000;
      color: #FFF;
      padding: 35px;
      min-height: 0px;
    }
  }
  .rightSide {
    padding-top: 40px;
    width: 100%;
  }
}


@media only screen and (min-width: 1400px) {
  .navButton {
    display: none;
  }

}

