
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'backend_sandbox/backend_sandbox.scss';
@import 'main/main.scss';
@import 'pah/pah.scss';
// endinjector
