
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.header {
  .title {
    h1 {
      margin-top: 0;
    }
  }
  .button {
    button{
      width:125px;
    }
  }
}

button {
  font-weight: bold;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'backend_sandbox/backend_sandbox.scss';
@import 'main/main.scss';
@import 'pah/pah.scss';
// endinjector
