
.header {
	padding: 0 10%;

  .button {

  }
	.title {

		h1 {

			color: white;
			font-size: 4em;
		}
		h2 {

			color: white;
			font-size: 2em;
		}
	}
  .md-button {
    width: 100px;
  }


}


.md-button.md-default-theme.md-raised {
	color: #232323;
	background-color: white;
}

.joinDialog {
	color: #232323;
	h1 {
		color: #232323;
	}
}

@media only screen and (max-width: 450px) {
  .header {

    .button {
      text-align: center;
    }
  }
}
