<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<header>
 <h1>Phones Against Humanity<h1>

 	<img src= "http://ecx.images-amazon.com/images/I/41164wOO6ZL.jpg"/>
	
	</header>

<div layout="column" layout-margin>

  <md-button class="md-raised" ng-click="startNow()">Start Now</md-button>

</div>

<script type="text/ng-template" id="startGameDialog">
<h1>Join a game</h1>
<md-input-container>
  <label>Game Code(leave blank to create new game)</label>
  <textarea ng-model="gameCode" minlength="4" md-maxlength="4"></textarea>
</md-input-container>

<md-input-container>
  <label>Name(leave blank to enter as spectator)</label>
  <textarea ng-model="playerName" md-maxlength="12"></textarea>
</md-input-container>

<md-button class="md-raised" ng-click="createOrJoin()">go</md-button>
</script>
