body {
	background-color: #232323;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
	color: #232323;
}

.md-button.md-default-theme.md-raised {
	color: #232323;
	background-color: white;

}
