
<div class="header">
  <div class="title">
    <h1>Phones<br>Against<br>Humanity</h1>
    <h2>A party game for horrible people... with phones</h2>
  </div>


  <div class="button">
    <button class="btn btn-material-green" ng-click="createNewGame()">New</button>
    <button class="btn btn-material-green" ng-click="openJoinDialog()">Join</button>
  </div>

</div>


<script type="text/ng-template" id="joinGameDialog">
<div class="joinDialog">
  <h1>Join a game</h1>
  <form name="enterGameCode" ng-submit="joinGame()">
  <md-input-container>
    <label>Enter 4 digits game code</label>
    <input ng-model="gameCode" minlength="4" md-maxlength="4">
  </md-input-container>
  <div style="text-align: center">
    <button class="btn btn-material-green" ng-click="joinGame()">Join</button>
  </div>
  </form>
</div>
</script>
