<div class="whiteCardZone" ng-hide="currentPlayer.info.isInactive">
    <div class='pahCard whiteCard' ng-repeat='whiteCard in privatePlayArea.hand' ng-hide="currentPlayer.info.isJudge || publicPlayArea.judgeMode || waitingForStart()" ng-click="selectWhiteCard(whiteCard)" ng-class="{cardHighlighted: whiteCard.selected}">
        <div ng-show="whiteCard.selected && publicPlayArea.blackCard.numAnswers > 1" class="order-badge">{{whiteCard.order}}</div>
        <div ng-bind-html="whiteCard.text"></div>
    </div>
    <div class='pahCard whiteCard whiteCardDisplay' ng-bind-html="submission.text" ng-show="publicPlayArea.gameState === 'judge'" ng-repeat='submission in publicPlayArea.submittedCards[judgeViewIndex]'></div>
    <!-- <div ng-show='publicPlayArea.mostRecentWin.length && publicPlayArea.judgeMode'>
<div class='pahCard whiteCard whiteCardDisplay' ng-bind-html="winner.text"  ng-show="publicPlayArea.judgeMode" ng-repeat='winner in publicPlayArea.mostRecentWin'></div>
</div> -->
</div>